<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
	<title>Bear</title>
</head>
<body>

<div ng-app="bearApp" ng-controller="BearCtrl">
	<h2>Bear Restful</h2>
	<b>Result: </b> {{result}}
	<ul>
		<li ng-repeat="bear in bears track by $index">
			{{bear}}
			<button type="submit" ng-click="get(bear.id)" >Get</button>
			<button type="submit" ng-click="edit(bear.id)" >Edit</button>
		</li>
	</ul>

	<h2>New Bear </h2>
	<label for="name">Name: </label>
	<input type="text" id="name" ng-model="addBear.name"><br>
	<label for="weight">Weight: </label>
	<input type="text" id="weight" ng-model="addBear.weight"> <br>
	<button ng-click="add()">Add</button><br>

	<h2>Edit Bear </h2>
	<input type="hidden" id="id" ng-model="editBear.id">
	<label for="name">Name: </label>
	<input type="text" id="name" ng-model="editBear.name"> <br>
	<label for="weight">Weight: </label>
	<input type="text" id="weight" ng-model="editBear.weight"> <br>
	<button ng-click="update(editBear.id)">Add</button><br>


</div>

<script type="text/javascript">
	var app = angular.module("bearApp",['ngResource'])
	app.controller("BearCtrl", function($scope, $resource) {
	 	var Bear = $resource('/api/bears/:bear_id',{bear_id:'@id'})
	 	$scope.bears = Bear.query()

	 	$scope.get = function(id) {
	 		Bear.get({bear_id:id}, function(bear){
	 			$scope.result=bear
	 		})
		} 

	 	$scope.add = function() {
	   	  // var givenBear = new Bear($scope.addBear); 
		  // givenBear.$save(function(data){ 
		  //   console.log(data.message); 
		  //   $scope.bear = {}; 
		  // })

		  Bear.save({name: $scope.addBear.name, weight: $scope.addBear.weight})
		  $scope.bears = Bear.query()
		} 

	 	$scope.edit = function(id) {
	 		Bear.get({bear_id:id}, function(bear){
	 			$scope.editBear.id = bear.id
	 			$scope.editBear.name = bear.name
	 			$scope.editBear.weight = bear.weight
	 			$scope.result = "Edit Bear " + id
	 		})
		} 

	})
</script>


</body>
</html>